.banner-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 110px;
    margin: 20px 0px;
    border-radius: 10px;
    background-image: url(../../assets/banner.png);
    background-position:right ;
    background-size: cover;
    mix-blend-mode: darken;
    background-color: #000000;

    &-title {
        padding: 31px 100px 32px 16px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
}

.banner-container {
        display: flex;
        justify-content: center;
        width: 100%;
}
