#carrousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.carrousel-container_img {
    display: flex;
    width: 335px;
    height: 225px;
    border-radius: 10px;
    background-color: #FF6060;
}

.leftVector {
    cursor: pointer;
    position: absolute;
    left: 28px;
}
.rightVector {
    cursor: pointer;
    position: absolute;
    right: 28px
}

.slider_number {
    position: absolute;
    bottom: 8px;
    left: 50%;
    right: 50%;
    color: #FFFFFF;
}