.wrapper {
    margin: 0px 20px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
        margin: 20px 20px;
    }
}

.collapse {
    width: 335px;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
        width: 1023px;
    }
}

.item {
    background-color: #F7F7F7F7;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    color: #F7F7F7F7;
    padding: 5.5px 11.51px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%; 

    @media screen and (min-width: 768px) and (max-width: 1920px) {
        height: 47px;
        padding: 20px 22px;

    }
}

.content {
    color: #FF6060;
    max-height: 0;
    overflow: hidden;
    padding: 0px 11.51px;
    transition: all 0.1s cubic-bezier(0,1,0,1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
        font-size: 24px;
    }
}

.content.show {
    height: auto;
    padding: 20px 11.51px;    
    max-height: 9999px;
    transition: all 0.1s cubic-bezier(1,0,1,0);
    @media screen and (min-width: 768px) and (max-width: 1920px) {
        padding: 20px 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
    img {
        font-size: 24px;
    }
}