.wrapper {
    margin: 0px 20px;
    display: flex;
    width: 335px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.collapse {
    width: 335px;
    min-height: 50vh;
}

.item {
    background-color: #F7F7F7F7;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    color: #F7F7F7F7;
    padding: 5.5px 11.51px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%; 
}

.content {
    color: #FF6060;
    max-height: 0;
    overflow: hidden;
    padding: 0px 11.51px;
    transition: all 0.1s cubic-bezier(0,1,0,1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
}

.content.show {
    height: auto;
    padding: 20px 11.51px;    
    max-height: 9999px;
    transition: all 0.1s cubic-bezier(1,0,1,0);
}