  .fiche-container {
  min-height: 61vh;
  

  &_global {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 768px) and (max-width: 1920px) {

      &_desktop {
        position: relative;
      }
    }
  }


  &_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin: 10px 0px 5px 0px;
    width: 335px;

    /* or 26px */
    display: flex;
    align-items: flex-end;

    color: #ff6060;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
      font-size: 36px;
      flex-direction: row;
      width: 1240px;
    }
  }

  &_location {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    width: 335px;


    /* or 20px */
    display: flex;
    align-items: flex-end;

    color: #ff6060;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
      font-size: 18px;
      width: 1240px;
    }
  }
}

.taglist-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  &_position {
    display: flex;
    gap: 10px;
    width: 335px;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
      width: 1240px;
    }
  }
}

.taglist {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 142.6%;

  /* or 14px */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  height: 18px;

  color: #ffffff;
  background-color: #ff6060;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    font-size: 14px;
    border-radius: 10px;
    height: 25px;
  }
}

.rating-host-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 20px 20px;
  
  @media screen and (min-width: 768px) and (max-width: 1920px) {
    position: absolute;
    right: 75px;
    top: 10px;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 15px;
  }
}

.stars {
  height: 15px;
}

.user-container {
  display: flex;
  gap: 10px;
  margin-right: 20px;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    align-items: center;
  }

  &_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    color: #ff6060;
    width: 50px;
    text-align: right;

    @media screen and (min-width: 768px) and (max-width: 1920px) {
      font-size: 18px;
      width: 90px;
    }
  }
}

.user-picture {
  width: 32px;
  border-radius: 100%;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .collapse-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    .collapse-container_logement {
      width: 45%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .stars {
    font-size: 30px;
    height: 30px;
  }
}